<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>day34</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>HelloServlet</servlet-name>
    <servlet-class>cn.itcast.a_hello.HelloServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HelloServlet</servlet-name>
    <url-pattern>/HelloServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DemoServlet</display-name>
    <servlet-name>DemoServlet</servlet-name>
    <servlet-class>cn.itcast.a_hello.DemoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DemoServlet</servlet-name>
    <url-pattern>/demoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ParamSerlvet</display-name>
    <servlet-name>ParamSerlvet</servlet-name>
    <servlet-class>cn.itcast.b_param.ParamSerlvet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ParamSerlvet</servlet-name>
    <url-pattern>/ParamSerlvet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StartupServlet</display-name>
    <servlet-name>StartupServlet</servlet-name>
    <servlet-class>cn.itcast.c_startup.StartupServlet</servlet-class>
    <load-on-startup>0</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>StartupServlet</servlet-name>
    <url-pattern>/StartupServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TestServlet</display-name>
    <servlet-name>TestServlet</servlet-name>
    <servlet-class>cn.itcast.a_hello.TestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestServlet</servlet-name>
    <url-pattern>/TestServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>ConServlert</display-name>
    <servlet-name>ConServlert</servlet-name>
    <servlet-class>cn.itcast.d_config.ConfigServlert</servlet-class>
    <init-param>
		<param-name>ds</param-name>  
		<param-value>屌丝</param-value>  
    </init-param>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>ConServlert</servlet-name>
    <url-pattern>/ConServlert</url-pattern>
    
  </servlet-mapping>
</web-app>